<div class="container-full">

      <div class="row">
       
        <div class="col-lg-12 text-center v-center">
          
          <h1 class="welcome-header">Blocitoff.</h1>
          <p class="lead">The to-do list that just...well...works</p>
          
          <br>
          
          <div class="col-lg-12">
            <p class="lead">
              <%= link_to "Sign In", new_user_session_path, class: 'btn btn-lg btn-primary' %> or
              <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-lg btn-primary' %> today!
            </p>
          </div>
        </div>
        
      </div> <!-- /row -->
  
  	  
  
  	<br><br><br><br><br><br><br><br>

</div> <!-- /container full -->

<div class="container">
  
  	<hr>
  
  	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Productivity Ninjas</h3></div>
            <div class="panel-body">We get it. Life is hard and it comes at us fast in all directions. At Blocitoff, we 
            train our users to be <em>productivity ninjas</em> equipping them with the necessary ninja stars (or to-do 
            app) to get...stuff...done.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Can you say "Streamlined"?</h3></div>
            <div class="panel-body">We designed Blocitoff to be simple and easy to use whether you're at home or on go. 
            Quick log-in, quick task creation, quick task deletion... everything that matters most is all there waiting 
            for you.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>You're on the clock!</h3></div>
            <div class="panel-body">Everyday we get bogged down with tasks that aren't really important. At Blocitoff, we'll
            clear those tasks that are constantly pushed off more than a week, keeping your to-do list clean, clear, and
            mostly IMPORTANT. Also, who doesn't need a deadline?
            </div>
          </div>
        </div>
    </div>
  
</div>